# Lambda Expressions, Map, and Filter

## Map

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square, my_nums)

In [4]:
# map applies the function to each element in the list
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [17]:
names = ['Noah', 'Jaclyn', 'Lemon']

In [18]:
list(map(splicer, names))

['EVEN', 'EVEN', 'L']

## Filter

In [19]:
def check_even(num):
    return num % 2 == 0

In [20]:
mynums = [1,2,3,4,5,6]

In [23]:
filter(check_even, mynums)

In [26]:
## 'Filters' out items that don't meet the condition
for item in filter(check_even, mynums):
    print(item)

2
4
6

In [27]:
list(filter(check_even, mynums))

[2, 4, 6]

## Lambda Expression

In [29]:
def square(num):
    return num**2

In [30]:
square(3)

9

In [31]:
def square(num): return num**2

In [32]:
square(3)

9

In [33]:
lambda num: num**2

In [34]:
square = lambda num: num**2

In [35]:
square(5)

25

In [36]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [37]:
lambda num: num % 2 == 0

In [38]:
list(filter(lambda num: num % 2 == 0, mynums))

[2, 4, 6]

In [39]:
names

['Noah', 'Jaclyn', 'Lemon']

In [43]:
list(map(lambda name: name[0], names))

['N', 'J', 'L']

In [44]:
list(map(lambda name: name[::-1], names))

['haoN', 'nylcaJ', 'nomeL']