# for Loops

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [5]:
for num in mylist:
    if (num % 2 == 0):
        print(num)

2
4
6
8
10

In [7]:
for num in mylist:
    if (num % 2 == 0):
        print(num)
    else:
        print(f'{num} is an  odd number ')

1 is an  odd number
2
3 is an  odd number
4
5 is an  odd number
6
7 is an  odd number
8
9 is an  odd number
10

In [8]:
sum_list = 0

for num in mylist:
    sum_list += num

print(sum_list)

55

In [9]:
sum_list = 0

for num in mylist:
    sum_list += num
    print(sum_list)

1
3
6
10
15
21
28
36
45
55

In [10]:
for letter in "Hello, World!":
    print(letter)

H
e
l
l
o
,

W
o
r
l
d
!

In [11]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [12]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [13]:
len(mylist)

4

In [14]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [15]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [17]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

for a,b,c in mylist:
    print(a,b,c)

1 2 3
5 6 7
8 9 10

In [18]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [19]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [20]:
for key,value in d.items():
    print(key, value)

k1 1
k2 2
k3 3

In [21]:
for value in d.values():
    print(value)

1
2
3