# while Loops

In [3]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [4]:
x = 0

while x < 5:
    print(x)
    x += 1
else:
    print(5)

0
1
2
3
4
5

## break, continue, pass

In [6]:
x = [1,2,3]

for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-6-2f2e37c9607a>, line 4)

In [7]:
x = [1,2,3]

for item in x:
    pass

# pass does nothing, it is primarily used as a filler

In [10]:
for letter in 'Jaclyn':
    if (letter == 'a'):
        continue
    print(letter)

J
c
l
y
n

In [11]:
for letter in 'Jaclyn':
    if (letter == 'a'):
        break
    print(letter)

J

In [13]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [3]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [4]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

# zip can only zip to the smallest collection's size
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [5]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [6]:
'x' in [1,2,3]

False

In [8]:
'x' in ['x', 'y', 'z']

True

In [9]:
'a' in 'hello'

False

In [10]:
'mykey' in {'mykey':345}

True

In [12]:
d = {'mykey':345}

345 in d.values()

True

In [13]:
mylist = [10,20,30,40,100]

In [ ]:
min(mylist)